#define  DEVICE_USTICKER 1
#define  DEVICE_SERIAL_FC 1
#define  DEVICE_PORTOUT 1
#define  DEVICE_PWMOUT 1
#define  DEVICE_FLASH 1
#define  DEVICE_SPISLAVE 1
#define  TARGET_FF_MORPHO
#define  DEVICE_PORTIN 1
#define  TARGET_STM32F1
#define  DEVICE_STDIO_MESSAGES 1
#define  DEVICE_WATCHDOG 1
#define  __MBED__ 1
#define  __CORTEX_M3
#define  TARGET_M3
#define  DEVICE_RTC 1
#define  __CMSIS_RTOS
#define  USE_FULL_LL_DRIVER
#define  TARGET_NUCLEO_F103RB
#define  TRANSACTION_QUEUE_SIZE_SPI 2
#define  TARGET_STM
#define  TARGET_NAME NUCLEO_F103RB
#define  DEVICE_SPI_ASYNCH 1
#define  DEVICE_I2C 1
#define  TOOLCHAIN_GCC_ARM
#define  ARM_MATH_CM3
#define  DEVICE_SERIAL_ASYNCH 1
#define  MBED_BUILD_TIMESTAMP 1582025525.5729733
#define  TARGET_LIKE_CORTEX_M3
#define  DEVICE_I2C_ASYNCH 1
#define  DEVICE_INTERRUPTIN 1
#define  DEVICE_SPI 1
#define  TOOLCHAIN_GCC
#define  TARGET_CORTEX
#define  TARGET_STM32F103RB
#define  TARGET_FAMILY_STM32
#define  DEVICE_CAN 1
#define  DEVICE_ANALOGIN 1
#define  DEVICE_RESET_REASON 1
#define  DEVICE_PORTINOUT 1
#define  COMPONENT_PSA_SRV_EMUL 1
#define  TARGET_CORTEX_M
#define  DEVICE_SLEEP 1
#define  __MBED_CMSIS_RTOS_CM
#define  DEVICE_SERIAL 1
#define  USE_HAL_DRIVER
#define  COMPONENT_NSPE 1
#define  COMPONENT_PSA_SRV_IMPL 1
#define  DEVICE_I2CSLAVE 1
#define  TARGET_RELEASE
#define  TARGET_FF_ARDUINO
#define  TARGET_LIKE_MBED
#define  DEVICE_USTICKER 1
#define  DEVICE_SERIAL_FC 1
#define  DEVICE_PORTOUT 1
#define  DEVICE_PWMOUT 1
#define  DEVICE_FLASH 1
#define  DEVICE_SPISLAVE 1
#define  TARGET_FF_MORPHO
#define  DEVICE_PORTIN 1
#define  TARGET_STM32F1
#define  DEVICE_STDIO_MESSAGES 1
#define  DEVICE_WATCHDOG 1
#define  __MBED__ 1
#define  __CORTEX_M3
#define  TARGET_M3
#define  DEVICE_RTC 1
#define  __CMSIS_RTOS
#define  USE_FULL_LL_DRIVER
#define  TARGET_NUCLEO_F103RB
#define  TRANSACTION_QUEUE_SIZE_SPI 2
#define  TARGET_STM
#define  TARGET_NAME NUCLEO_F103RB
#define  DEVICE_SPI_ASYNCH 1
#define  DEVICE_I2C 1
#define  TOOLCHAIN_GCC_ARM
#define  ARM_MATH_CM3
#define  DEVICE_SERIAL_ASYNCH 1
#define  MBED_BUILD_TIMESTAMP 1582025525.5729733
#define  TARGET_LIKE_CORTEX_M3
#define  DEVICE_I2C_ASYNCH 1
#define  DEVICE_INTERRUPTIN 1
#define  DEVICE_SPI 1
#define  TOOLCHAIN_GCC
#define  TARGET_CORTEX
#define  TARGET_STM32F103RB
#define  TARGET_FAMILY_STM32
#define  DEVICE_CAN 1
#define  DEVICE_ANALOGIN 1
#define  DEVICE_RESET_REASON 1
#define  DEVICE_PORTINOUT 1
#define  COMPONENT_PSA_SRV_EMUL 1
#define  TARGET_CORTEX_M
#define  DEVICE_SLEEP 1
#define  __MBED_CMSIS_RTOS_CM
#define  DEVICE_SERIAL 1
#define  USE_HAL_DRIVER
#define  COMPONENT_NSPE 1
#define  COMPONENT_PSA_SRV_IMPL 1
#define  DEVICE_I2CSLAVE 1
#define  TARGET_RELEASE
#define  TARGET_FF_ARDUINO
#define  TARGET_LIKE_MBED

#include "mbed_config.h"
#include "mbed_config.h"
#include "mbed_config.h"
#include "mbed_config.h"
